a {
    text-decoration: none;
    font-style: inherit;
    color: black;
}
header, footer {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.menu a {
    padding: 1rem;
}
.menu a {
    padding-top: 2rem;
}

.menu a:hover, .menu a:focus {
    background-color: gainsboro;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    gap: 2rem;
    margin: 1rem;
    margin-top: 1.5rem;
    margin-left: 3rem;
}
.logo h1 {
    text-align: right;
    margin-right: 1rem
}
.logo h2, footer h4 {
    text-align: right;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
header {
    display: flex;
    justify-content: space-evenly;
}
main {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
main a {
    padding: 1rem;
    text-align: center;
}
main a:hover, main a:focus {
    background-color: gainsboro;
}