@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
    font-style: inherit;
    color: #FFFF;
    font-weight: bold;
}
header {
    height: 20vh;
}
.menu a {
    padding-top: 2.7rem;
    width: 100%;
    text-align: center;
}

.menu a:hover, .menu a:focus {
    background-color: #e0218a;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    gap: 2rem;
    font-size: 30px;
    text-transform: uppercase;
}
.logo {
    margin-left: .5rem;
    color: #FFFF;
}
.logo h1 {
    text-align: right;
    margin-right: .5rem;
}
.logo h2, footer h4 {
    text-align: right;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
header {
    display: flex;
    justify-content: space-evenly;
}
main {
    height: 70vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
    

main a {
    font-weight: bold;
    padding-top: 5.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    width: 50%;
}
main a:hover, main a:focus {
    background-color: gainsboro;
}
footer {
    height: 11.5vh;
    margin-top: -5vh;
}
footer h4 {
    text-transform: uppercase;
    font-size: large;
    color: #FFFF;
    padding-top: 2rem;
}
/*colours main*/
main :first-child {
    background-color: #51294B;
    color: #FFFF;
}
main :nth-child(2) {
    background-color: #0adeff;
    color: black;
}
main :nth-child(3){
    background-color: #c42aad;
    color: #FFFF;
}
main :nth-child(4) {
    background-color: #FFFF;
    color: black;
}
main a:hover, main a:focus {
    background-color: #e0218a;
    color: #FFFF;
}
h3 {
    background-color: transparent;
}
/*colours head*/
header, footer{
    background-color: #0e070d;
}
